<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form action="/shorten" method="POST">
        <label for="fullUrl">URL:</label>
        <input
          type="text"
          name="fullUrl"
          id="fullUrl"
          placeholder="Enter URL"
        />
        <button type="submit">Submit</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Full Url</th>
            <th>Short Url</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach(url =>{%>
          <tr>
            <td><a href="<%= url.fullUrl %>"><%= url.fullUrl %></a></td>
            <td><a href="<%= url.shortUrl %>"><%= url.shortUrl %></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
